<ion-view>
  <ion-header-bar align-title="center" class="bar-positive special-color">
    <div class="buttons">

    </div>
    <h1 class="title">EnergiaStore</h1>
    <!-- <div class="buttons" style="width: 30px;height: 30px;" ng-click="logOut();">
      <i class="ion-log-out" style="    margin: auto;font-size: 25px;"></i>
    </div> -->

    <div class="buttons" style="width: 30px;height: 30px;" ng-click="goToSettings();">
      <i class="ion-ios-settings" style="    margin: auto;font-size: 25px;"></i>
    </div>

  </ion-header-bar>

  <ion-content>
    <img src="./img/quotation.jpeg" style="    width: 100%;height: calc((100vh -44px ) / 3 );" alt="" ng-click="goToQuotation()">
    <img src="./img/factory.jpeg" style="    width: 100%;height: calc((100vh -44px ) / 3 );    top: -10px;position: relative;" alt="" ng-click="goToFactor()">

  </ion-content>

</ion-view>
