<ion-view>
  <ion-header-bar align-title="center" class="bar-positive special-color">
    <div class="buttons">
      <div class="buttons" style="width: 30px;height: 30px;" ng-click="back();">
        <i class="ion-ios-arrow-thin-left" style="    margin: auto;font-size: 25px;"></i>
      </div>
    </div>
    <h1 class="title">{{translations.FMP_HEADER}}</h1>
    <div class="buttons" style="width: 30px;height: 30px;" ng-click="openModalHelp();">
      <i class="ion-ios-help-outline" style="    margin: auto;font-size: 25px;"></i>
    </div>
  </ion-header-bar>
    <ion-content>


       <div style="margin-top:30px;padding:15px;" ng-class="os === 'android' ? 'android-content' : 'ios-content'">


      <div class="input-field col s12">
         <input id="input-penalty" type="text" class="validate" ng-model="factorType.power_factor" >
         <label for="input-penalty">{{translations.FMP_MODAL_QUOTATION_AMOUNT}}</label>
       </div>


       <div class="input-field col s12">
          <input id="input-penalty-text" type="text" class="validate" ng-model="factorType.power_factor" >
          <label for="input-penalty-text">Comentarios</label>
        </div>

        <div class="row">
          <a class="waves-effect waves-light btn" id="button-gallery"  ng-click="showPopUpImage();" style="margin:auto;">AGREGAR FOTO</a>
        </div>


<a class="waves-effect waves-light btn factor-send-button" style="BOTTOM: 20PX;POSITION: absolute;TRANSFORM: TRANSLATE(-50%,0);LEFT: 50%;" ng-click="createFactorPenalty();" style="">{{translations.FMP_MODAL_QUOTATION_SEND_BUTTON}}</a>


      </div>



    </ion-content>
</ion-view>


<style media="screen">
.android-content{
  height:calc(100vh - 77px)
}

.ios-content{
  height:calc(100vh - 97px)
}
</style>
