<ion-view ng-init="init();">
  <ion-header-bar align-title="center" class="bar-positive special-color">
    <div class="buttons">
      <div class="buttons" style="width: 30px;height: 30px;" ng-click="back();">
        <i class="ion-ios-arrow-thin-left" style="    margin: auto;font-size: 25px;"></i>
      </div>
    </div>
    <h1 class="title">Motores</h1>
    <div class="buttons" style="width: 30px;height: 30px;" ng-click="addQuotationPopUp();">
      <i class="ion-ios-plus-outline" style="    margin: auto;font-size: 25px;"></i>
    </div>
  </ion-header-bar>


  <!-- <ion-content>

    <div class="row">
      <div class="col s12 m6" ng-hide="calculations.length != 0">
        <div class="card special-color">
          <div class="card-content white-text">
            <span class="card-title">Aún no tienes ninguna <strong style="font-weight:600">cotización</strong></span>
            <p>Haz click en  <i class="ion-ios-plus-outline" style=""> para agregar tu primera cotizacion</i>
            </p>
          </div>
        </div>

      </div>

      <div class="col s12 m6" ng-repeat="calculation in calculations" ng-click="goToCalculation({{calculation.id}})">
        <div class="card special-color">
          <div class="card-content white-text">
            <span class="card-title">{{calculation.energy_cost}}<strong style="font-weight:600"></strong></span>
            <p>Haz click en  <i class="ion-ios-plus-outline" style=""> para agregar tu primera cotizacion</i>
          </div></p>
        </div>

      </div>


    </div>
  </div>


</ion-content> -->

</ion-view>
