<ion-view>
  <ion-content class="back-color1" id="content-register">

    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
      <ion-slide>

        <div class="row" style="margin-top: 10vw;">
          <div class="col s12 m6">
            <div class="card card-register" style="padding:0px;">
              <div class="card-content white-text">
                <span class="card-title login-title">Comencemos con tu cuenta</span>

                <div class="input-field col s12">
                  <input id="email" type="text" class="validate" ng-model="user.email">
                  <label for="email">Email</label>
                </div>
                <div class="input-field col s12">
                  <input id="passowrd" type="text" class="validate" ng-model="user.password">
                  <label for="password">Password</label>
                </div>
                <div class="input-field col s12">
                  <input id="password_confirmation" type="text" class="validate" ng-model="user.password_confirmation">
                  <label for="password_confirmation">Confirmacion password</label>
                </div>
              </div>
            </div>
            <a class="btn-floating btn-large waves-effect waves-light register-float-button" ng-click="nextButton(0);"><i class="ion-android-arrow-forward"></i></a>
          </div>
        </div>

      </ion-slide>

      <ion-slide>

        <div class="row" style="margin-top: 10vw;">
          <div class="col s12 m6">
            <div class="card card-register">
              <div class="card-content white-text">
                <span class="card-title login-title">ahora tu informacion personal</span>

                <div class="input-field col s12">
                  <input id="email" type="text" class="validate" ng-model="user.name">
                  <label for="email">Nombre</label>
                </div>
                <div class="input-field col s12">
                  <input id="passowrd" type="text" class="validate" ng-model="user.last_name">
                  <label for="password">Apellido</label>
                </div>

                <div class="input-field col s12">
                  <input id="passowrd" type="text" class="validate" ng-model="user.phone">
                  <label for="password">Telefono</label>
                </div>

                <div class="input-field col s12">
                  <input id="passowrd" type="text" class="validate" ng-model="user.address">
                  <label for="password">Direccion</label>
                </div>

              </div>

            </div>
            <a class="btn-floating btn-large waves-effect waves-light register-float-button"><i class="ion-android-arrow-forward"></i></a>
          </div>
        </div>
      </ion-slide>






    </ion-slide-box>

  </ion-content>
</ion-view>
