<ion-view>
  <ion-header-bar align-title="center" class="bar-positive special-color" ng-init="init()">
    <div class="buttons">
      <i class="ion-ios-arrow-thin-left" style="    margin: auto;font-size: 25px;" ng-click="backButton();"></i>
    </div>
    <h1 class="title">Configuracion</h1>
    <div class="buttons" style="width: 30px;height: 30px;" ng-click="showpopUpLogOut();">
      <i class="ion-log-out" style="    margin: auto;font-size: 25px;"></i>
    </div>

  </ion-header-bar>
  <ion-content >

    <div class="" style="margin: 0 5vw 0vw 5vw;top :10vw; position:relative;">
      <div class="col s12 ">



            <div class="input-field col s12">
              <input id="name" type="text" class="validate" ng-model="user.name">
              <label for="name">{{placeholder.name}}</label>
            </div>
            <div class="input-field col s12">
              <input id="last_name" type="text" class="validate" ng-model="user.last_name">
              <label for="last_name">{{placeholder.last_name}}</label>
            </div>

            <div class="input-field col s12">
              <input id="phone" type="tel" class="validate" ng-model="user.phone">
              <label for="phone">{{placeholder.phone}}</label>
            </div>

            <div class="input-field col s12">
              <input id="address" type="text" class="validate" ng-model="user.address">
              <label for="address">{{placeholder.address}}</label>
            </div>

            <a class="waves-effect waves-light btn" style="width:100%;" ng-click="updateInfo()">actualizar</a>


        </div>

      </div>


  </ion-content>
</ion-view>
