<ion-view >
  <ion-view>
    <ion-content has-bouncing="false">


      <img class="logo-welcome animated fadeIn" src="img/logo_white.png" alt="">

      <div class="" style="text-align:center">

<h5>Bienvenido a EnergiaStore</h5>
<h5>Welcome to EnergiaStore</h5>
        <a class="waves-effect waves-light btn welcome-button" ng-click="spanish()">Español</a>
        <a class="waves-effect waves-light btn welcome-button" ng-click="english()">English</a>

      </div>


    </ion-content>
  </ion-view>
