<ion-view ng-init="init();">

  <ion-header-bar align-title="left" class="">

    <h5 ng-click="goBack()" style="margin-left:10px;;width: 30px;"><i class="ion-chevron-left" style="z-index:999;" ></i></h5>
    <h5>  Configuraciones</h5>

  </ion-header-bar>

<ion-content style="background-color:rgba(175, 175, 175, 0.30);">


  <ion-list>
    <ion-item ng-click="goToProfile()" ng-if="user.type_user != 'explorer'">
      <span>Mi perfil</span>

      <i class="ion-chevron-right button-right"></i>
    </ion-item>

    <ion-item ng-click="goToProfile()" ng-if="user.type_user == 'explorer'">
      <span>Registrar mi cuenta</span>

      <i class="ion-chevron-right button-right"></i>
    </ion-item>

    <ion-item ng-click="chooseLanguaje()">
      <span>Cambiar lenguaje</span>

      <i class="ion-chevron-right button-right"></i>
    </ion-item>

    <ion-item ng-click="openModalChooseCountry()">
      <span>Seleccionar Pais</span>

      <i class="ion-chevron-right button-right"></i>
    </ion-item>

  </ion-list>



<br />
<br />
<ion-list>
  <ion-item ng-click="goToTutorials()">
    <span>Tutoriales</span>

    <i class="ion-chevron-right button-right"></i>
  </ion-item>
</ion-list>


<br />
<br />

<ion-list>

  <ion-item ng-click="FAQ()">
    <span>FAQ</span>

    <i class="ion-chevron-right button-right"></i>
  </ion-item>
  <ion-item ng-click="aboutUs()">
    <span>Sobre nosotros</span>

    <i class="ion-chevron-right button-right"></i>
  </ion-item>
</ion-list>


<br />
<br />

<ion-list>
  <ion-item ng-click="logOut()">
    <span>Cerrar sesión</span>

    <i class="ion-chevron-right button-right"></i>
  </ion-item>
</ion-list>
</ion-content>

</ion-view>

<style>

h1,h5{
  color:black;
}

.button-right{
  right: 25px;
  position: absolute;
}

</style>
