page-walkthrough {

  .background-special{
    width: 100vw;
    height: 100vh;

    background-image:url("../assets/images/backgrounds/map.svg") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    position:absolute;

    .ghost-button{
      background-color: transparent;
      color: rgba(17, 61, 20, 1);
      font-weight: 500;
      right: 0px;
      z-index: 999;
      position: absolute;
    }
  }

  .background-overlay{
    width: 100vw;
    height: 100vh;
    background-color: rgba(49, 179, 58, 0.69);
    position:absolute;
  }

  .slide-content{
    height: 100vh;
    width:100vw;
    margin:0 auto;
    display:block;
    background-color: white;
    position:relative;

    .skip{
      top: calc(70vh - 70px);
      position: relative;
      font-size: larger;
      font-weight: 500;
      color:rgb(126, 126, 126);
      display: block;
    }
    .final{
      float:right;
    }

  }
  .slide-1{

  }
  .slide-2{
    color:red;
  }
  .slide-3{
    color:blue;
  }

  ion-fab{
    bottom:1em;
    right:1em;
  }







}
